<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a (click)="toRootPage()" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a (click)="toRecipes()">Recipes</a></li>
        <li routerLinkActive="active"><a (click)="toShoppingList()">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li><a (click)="toRegister()">Register</a></li>
          <li><a (click)="toLogin()">Login</a></li>
        </ng-template>
        <ng-template [ngIf]="authService.isAuthenticated()">
          <li><a (click)="onLogout()">Logout</a></li>
          <li class="dropdown" appDropdown>
            <a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a (click)="onSaveData()">Save Data</a></li>
              <li><a (click)="onFetchData()">Fetch Data</a></li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>